@font-face {
    font-family: "CutiePop";
    src: url("../fonts/CutiePop.ttf");
}


    .scoreboard {
        height: 100px;
        text-align: left;
    }

    .scoreboard > .player1 {
        padding: 10px;
        overflow: hidden;
        background: white

    }
    
     .scoreboard > .player2 {
        padding: 10px;
        overflow: hidden;
        background: #FF1493


    }

    
    .scoreboard > .player1 > span {
        display: block;
        float: left;
        width: 10%;
        text-align: center;
        box-sizing: border-box;
        padding: 0 10px;
        font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
        font-size: 18px 

    }

    .scoreboard > .player2 > span {
        display: block;
        float: left;
        width: 10%;
        text-align: center;
        box-sizing: border-box;
        padding: 0 10px;
        font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
        font-size: 18px
    }

    .scoreboard > .player2 > .points {
        text-align: center;
    }


    h1 {
        color: #FF1493;
        /*font-family: "Great Vibes", cursive;*/
        font-family: "CutiePop";
        font-size: 100px; 
        line-height: 125px;
        font-weight: normal;
        margin-bottom: 0px; 
        margin-top: 25px;
        text-align: center; 
        text-shadow: 0 5px 5px #fff;
    }


    body {
        margin-top: 0px; 
    /*margin: 0 auto;
    width: 960px;*/
    background: url('../images/background3.jpg') no-repeat center center fixed;
}

/*
.full {

    }*/
    .container {
        background-color: transparent;
    }

    .memory_board .card {
        /*float:left;*/
        position: relative;
        width: 275px;
        height: 275px;
        display: inline-block;
        border: 5px dotted #FF1493;
        /*padding-bottom : 30%; */
        /*margin:4.66%;*/
        /* background-color:#1E1E1E;*/#
        background-color: transparent;
        /*overflow:hidden;*/
        
    }


    .front img, .back img {
        /*max-width: 100%;*/
        width: 225px;
    }




    .bg{
        background-position:center center;
        background-repeat:no-repeat;
        background-size:contain;
    }


body, a:hover {cursor: url(http://ani.cursors-4u.net/movie/mov-2/mov135.cur), progress !important;} 
.refresh { 
    font-family: "CutiePop";
    src: url("../fonts/CutiePop.ttf");
}

.marquee {
    font-family: "CutiePop";
    src: url("../fonts/CutiePop.ttf");
    font-size: 25px; 

}
