/*@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
    }*/

.btn {

  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 40px 7px 40px;
  border: dotted #000000 2px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

    .scoreboard {
        height: 100px;
        text-align: left;
    }

    .scoreboard > .player1 {
        padding: 10px;
        overflow: hidden;
        background: white


    }
    
  /*  .scoreboard > .player2 {
        background: #323031;
        padding:20px;
        overflow: hidden;
    }*/
    
    .scoreboard > .player1 > span {
        display: block;
        float: left;
        width: 10%;
        text-align: center;
        box-sizing: border-box;
        padding: 0 10px;
        font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
        font-size: 18px
    }

    .scoreboard > .player2 > span {
        display: block;
        float: left;
        width: 10%;
        text-align: center;
        box-sizing: border-box;
        padding: 0 10px;
        font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
        font-size: 18px
    }

    .scoreboard > .player2 > .points {
        text-align: center;
    }


    h1 {
        color: #FF1493;
        font-family: "Great Vibes", cursive;
        font-size: 100px; 
        line-height: 125px;
        font-weight: normal;
        margin-bottom: 0px; 
        margin-top: 25px;
        text-align: center; 
        text-shadow: 0 1px 1px #fff;
    }


    body {
        margin-top: 150px; 
    /*margin: 0 auto;
    width: 960px;*/
    background: url('../images/background.jpg') no-repeat center center fixed;
}

/*
.full {

    }*/
    .container {
        background-color: transparent;
    }

    .memory_board .card {
        /*float:left;*/
        position: relative;
        width: 275px;
        height: 275px;
        display: inline-block;
        border: 10px dotted #7FFFD4;
        /*padding-bottom : 30%; */
        /*margin:4.66%;*/
        /* background-color:#1E1E1E;*/#
        background-color: transparent;
        /*overflow:hidden;*/
    }


    .front img, .back img {
        /*max-width: 100%;*/
        width: 225px;
    }




    .bg{
        background-position:center center;
        background-repeat:no-repeat;
        background-size:contain;
    }


body, a:hover {cursor: url(http://ani.cursors-4u.net/movie/mov-2/mov135.cur), progress !important;} 

